@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Outfit:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  color: #36344a;
  background: linear-gradient(to top, #2b283d, #1b1a27);

  }

html, body, #root {
  height: 100%
}

h1{
  font-family:'Rock 3D', cursive;
  font-size: 7rem;
  color:  #FFFACD;
}

h2, h3 {
  font-family: 'Comfortaa', cursive;

}

.bg-primary, .btn-primary, .btn-outline-primary{
  background-color: #36344a !important;
}

.text-primary {
  color: #36344a !important;
}
.bg-secondary {
  background-color: #FFFACD !important;
}
.text-secondary {
  color: #FFFACD !important;
}

/* buttons */
.btn-outline-primary {
  color:  #FFFACD;
  background-color: transparent;
  background-image: none;
  border-color:  #FFFACD
}

/*  new classes */
